[mysqld]
explicit_defaults_for_timestamp=1
datadir=/www/data/mysql/data
#socket=/tmp/mysql.sock
#/var/run/mysqld/mysqld.sock

skip_name_resolve=ON
symbolic-links=0
innodb_file_per_table=ON
character-set-server=utf8
#sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
#query_cache_type=DEMAND
max_allowed_packet=1024M
#autocommit=OFF

server-id = 1
log-bin=/www/data/mysql/log-bin/master-bin
max_connections=10000
[mysqld_safe]
log-error=/www/data/mysql/logs/error.log
pid-file=/www/data/mysql/logs/mysql.pid


