[mysqld]
explicit_defaults_for_timestamp=1
datadir=/www/data/mysql/data
#socket=/tmp/mysql.sock
#/var/run/mysqld/mysqld.sock

skip_name_resolve=ON
symbolic-links=0
innodb_file_per_table=ON
character-set-server=utf8
#sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
#query_cache_type=DEMAND
max_allowed_packet=1024M
#autocommit=OFF

server-id = 1
log-bin=/www/data/mysql/log-bin/master-bin

#3000 大概消耗800M内存
max_connections=10000

#max_connections的30%
back_log = 3000


#innodb索引缓存 主机内存的70%~80%
innodb_buffer_pool_size=1GB

#wait-timeout是空闲时间，单位是秒 连接默认超时为8小时，连接长期不用又不销毁，浪费资源
wait_timeout =  600

[mysqld_safe]
log-error=/www/data/mysql/logs/error.log
pid-file=/www/data/mysql/logs/mysql.pid


